.progress-bar-alternate {
	-webkit-animation-direction: alternate !important;
    animation-direction: alternate !important;
}
.progress-bar-reverse {
	-webkit-animation-direction: reverse !important;
    animation-direction: reverse !important;
}
.pointer {
	cursor: pointer;
}

.carousel-indicators {
	vertical-align: middle;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	z-index: 15;
}
.carousel-indicators li {
	display: inline-block;
	text-indent: 0px !important;
	border: 1px solid blue;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	vertical-align: middle;
	margin: 0 1px;
}
.carousel-indicators li.active {
	background-color: blue;
	width: 14px;
	height: 14px;
}
.carousel-indicators.numbers li {
	font-size: 16px;
	border: none;
	border-radius: 0;
	margin: 0 -2px;
	border-right: 2px solid #AAAA66;
	min-height: 20px;
	min-width: 25px;
}
.carousel-indicators.numbers li.active {
	background-color: transparent;
	font-weight: 700;
	min-height: 20px;
	min-width: 25px;
}
.carousel-indicators.numbers li span {
}
.carousel-indicators.numbers li:last-child{
	border : none;
 }
 .item  .user-item {
	border: 1px solid black;
	border-radius: 5px;
 }
 .onhover-delete .delete-icon {
	font-size: 60px;
	position: absolute;
	padding: 20px;
	background-color: #333333;
	opacity: 0.6;
	color: white;
	z-index: 1;
	cursor: pointer;
 }